.slider{
    display: flex;
    position: relative;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
}

.slider .progress{
    position: absolute;
  /*  left: 10%; 
    right: 10%;  */
    background: black;
    height: 100%;
}

.range-input{
    width: 100%;
    position: relative;
}

.range-input > input{
    width: 100%;
    position: absolute;
    height: 5px;
    pointer-events: none;
    top:-5px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    -webkit-appearance: none;
    pointer-events: auto;
    
}