.slider{
    display: flex;
    position: relative;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
}

.slider  .progress{
    position: absolute;
    left: 10%;
    right: 10%;
    background: black;
    height: 100%;
}

.range-input{
    position: relative;
}

.range-input input{
    width: 100%;
    position: absolute;
    height: 5px;
    top:-5px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}